body {
  background-color: #f3e4bd;
  padding-top: 40px;
}

/* mobile - result style */
@media all and (max-width:430px){

}

/* pc - result style */
@media all and (min-width:431px){

  .rowDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
  }

  .resultTxt {
    font-size: 1.25rem;
  }

  .div-1 {
    width: 50%;
    /* border: 1px solid black; */
  }

  .div-2  {
    width: 50%;
    /* border: 1px solid orange; */
  }

  .ctrlDiv {

    padding-top: 3rem;
  }

  .magDiv {
    display: flex;
    flex-direction: column;

    margin-bottom: 3rem;
  }

  .magDiv p {
    align-self: flex-start;
  }

  .mags {
    display: flex;
    flex-direction: row;
  }

  .mags div {
    margin: 0 0.5rem;
  }

}


/* animations */
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(-1);
  }
}


@keyframes up {
  0%{
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(-25px) translateX(20px);
  }
  100% {
    transform: translateY(-70px) translateX(-10px);
  }
}

@keyframes sideWays {
  0%{
    transform: translateX(0);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(-200px);
  }
}